@charset "utf-8";
/* CSS Document */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li{
	padding: 0;
	margin: 0;
}
a, a:hover {
	color: #737373;
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	vertical-align: top;
	border: none;
	display: inline-block;
}